@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

div.container {
    height: 100vh;
    background: black url('../imagens/espaco.jpg') top center no-repeat fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

